.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999;

    .pop_body {
        width: 700px;
        height: 400px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .popup_img {
            border-radius: 20px;
            overflow: hidden;
        }

        .close {
            color: #fff;
            font-size: 50px;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: -70px;
        }
    }

}


.pre_loader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999999999;
    img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

   
}
